# Carga y Visualizacion de datos

In [311]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from scipy import stats
from statsmodels.tools.tools import add_constant # Para el intercepto OLS

In [312]:
# Leemos el archivo
dataset = pd.read_excel('dataset_salud_Melisa.xlsx')
print("Archivo de Meli cargado con éxito.")
dataset

Archivo de Meli cargado con éxito.

,ID_Paciente,Edad,Sexo,IMC,Presion_Sistolica,Presion_Diastolica,Colesterol_Total,Glucosa,Frecuencia_Cardiaca,Actividad_Fisica,...,Peso,Altura,Trigliceridos,HDL,LDL,Hemoglobina,Temperatura_Corporal,Oxigeno_Sangre,Dolor_Pecho,Nauseas
0,1,69.0,M,NaN,92.0,112.0,NaN,170.0,108.0,6.0,...,66.1,1.60,105.0,50.0,226.0,13.83,36.39,95.3,No,Si
1,2,32.0,M,13.06,149.0,109.0,134.000000,232.0,75.0,4.0,...,85.8,1.62,375.0,34.0,191.0,13.12,36.49,97.1,Si,Si
2,3,89.0,F,30.90,165.0,109.0,113.000000,163.0,93.0,3.0,...,68.1,1.88,139.0,31.0,136.0,14.96,36.77,95.4,No,Si
3,4,78.0,M,35.35,168.0,64.0,192.000000,150.0,69.0,7.0,...,44.9,1.62,297.0,73.0,160.0,16.82,37.02,96.0,No,No
4,5,38.0,M,31.42,106.0,102.0,296.000000,172.0,54.0,1.0,...,73.9,1.71,234.0,45.0,151.0,12.74,36.40,98.0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5195,5196,NaN,M,21.01,118.0,74.0,186.000000,91.0,97.0,7.0,...,78.2,1.57,218.0,68.0,95.0,11.79,36.20,96.0,Si,No
5196,5197,48.0,M,26.98,NaN,112.0,209.000000,213.0,116.0,2.0,...,64.3,1.78,111.0,73.0,NaN,9.97,36.29,94.1,No,Si
5197,5198,67.0,M,25.53,94.0,102.0,200.000000,152.0,103.0,6.0,...,60.1,1.58,124.0,46.0,92.0,14.02,36.33,96.0,Si,Si
5198,5199,37.0,M,24.30,94.0,78.0,228.000000,NaN,65.0,1.0,...,NaN,1.70,331.0,78.0,227.0,14.51,36.96,94.7,No,No
5199,5200,72.0,F,31.32,119.0,80.0,713.090593,83.0,84.0,7.0,...,60.1,1.50,100.0,70.0,169.0,14.72,37.04,94.5,No,No

In [313]:
print(f"\n Dimensiones del dataset: {dataset.shape[0]} filas x {dataset.shape[1]} columnas")
print("\n Primeras 5 filas del dataset:")
print(dataset.head())

 Dimensiones del dataset: 5200 filas x 28 columnas

 Primeras 5 filas del dataset:
   ID_Paciente  Edad Sexo    IMC  Presion_Sistolica  Presion_Diastolica  \
0            1  69.0    M    NaN               92.0               112.0
1            2  32.0    M  13.06              149.0               109.0
2            3  89.0    F  30.90              165.0               109.0
3            4  78.0    M  35.35              168.0                64.0
4            5  38.0    M  31.42              106.0               102.0

   Colesterol_Total  Glucosa  Frecuencia_Cardiaca  Actividad_Fisica  ...  \
0               NaN    170.0                108.0               6.0  ...
1             134.0    232.0                 75.0               4.0  ...
2             113.0    163.0                 93.0               3.0  ...
3             192.0    150.0                 69.0               7.0  ...
4             296.0    172.0                 54.0               1.0  ...

   Peso Altura Trigliceridos   HDL    LDL  Hemoglobina  Temperatura_Corporal  \
0  66.1   1.60         105.0  50.0  226.0        13.83                 36.39
1  85.8   1.62         375.0  34.0  191.0        13.12                 36.49
2  68.1   1.88         139.0  31.0  136.0        14.96                 36.77
3  44.9   1.62         297.0  73.0  160.0        16.82                 37.02
4  73.9   1.71         234.0  45.0  151.0        12.74                 36.40

   Oxigeno_Sangre  Dolor_Pecho  Nauseas
0            95.3           No       Si
1            97.1           Si       Si
2            95.4           No       Si
3            96.0           No       No
4            98.0           No       No

[5 rows x 28 columns]

In [314]:
print("\n Información general del dataset:")
print(dataset.info())

 Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_Paciente           5200 non-null   int64
 1   Edad                  4937 non-null   float64
 2   Sexo                  4937 non-null   object
 3   IMC                   4948 non-null   float64
 4   Presion_Sistolica     4908 non-null   float64
 5   Presion_Diastolica    4951 non-null   float64
 6   Colesterol_Total      4956 non-null   float64
 7   Glucosa               4946 non-null   float64
 8   Frecuencia_Cardiaca   4960 non-null   float64
 9   Actividad_Fisica      4948 non-null   float64
 10  Consumo_Alcohol       4912 non-null   float64
 11  Fumador               4909 non-null   object
 12  Diabetes              4938 non-null   object
 13  Enfermedad_Cardiaca   4944 non-null   object
 14  Medicamentos          4946 non-null   float64
 15  Duracion_SueÃ±o       4984 non-null   float64
 16  Nivel_Estres          4927 non-null   float64
 17  Indice_Salud_Mental   4988 non-null   float64
 18  Peso                  4948 non-null   float64
 19  Altura                4927 non-null   float64
 20  Trigliceridos         4947 non-null   float64
 21  HDL                   4914 non-null   float64
 22  LDL                   4922 non-null   float64
 23  Hemoglobina           4932 non-null   float64
 24  Temperatura_Corporal  4928 non-null   float64
 25  Oxigeno_Sangre        4928 non-null   float64
 26  Dolor_Pecho           4918 non-null   object
 27  Nauseas               4948 non-null   object
dtypes: float64(21), int64(1), object(6)
memory usage: 1.1+ MB
None

In [315]:
print("\n Estadísticas descriptivas de variables numericas :")
print(dataset.describe())

 Estadísticas descriptivas de variables numericas :
       ID_Paciente         Edad          IMC  Presion_Sistolica  \
count  5200.000000  4937.000000  4948.000000        4908.000000
mean   2600.500000    53.284181    24.951916         134.877779
std    1501.255031    20.618792     5.331636          26.321533
min       1.000000    18.000000     7.310000          90.000000
25%    1300.750000    36.000000    21.470000         112.000000
50%    2600.500000    53.000000    24.850000         135.000000
75%    3900.250000    71.000000    28.310000         157.000000
max    5200.000000    89.000000    70.700186         239.227966

       Presion_Diastolica  Colesterol_Total      Glucosa  Frecuencia_Cardiaca  \
count         4951.000000       4956.000000  4946.000000          4960.000000
mean            89.385377        201.060660   159.878322            84.867944
std             17.240431         64.854053    52.216996            20.333123
min             60.000000        100.000000    70.000000            50.000000
25%             74.000000        150.000000   115.000000            67.000000
50%             89.000000        200.000000   159.000000            85.000000
75%            105.000000        249.000000   204.000000           103.000000
max            119.000000        713.090593   315.272672           119.000000

       Actividad_Fisica  Consumo_Alcohol  ...  Nivel_Estres  \
count       4948.000000      4912.000000  ...   4927.000000
mean           4.617219         2.006922  ...      5.082200
std            2.891020         1.421091  ...      2.584649
min            0.000000         0.000000  ...      1.000000
25%            2.000000         1.000000  ...      3.000000
50%            5.000000         2.000000  ...      5.000000
75%            7.000000         3.000000  ...      7.000000
max            9.000000         4.000000  ...      9.000000

       Indice_Salud_Mental         Peso       Altura  Trigliceridos  \
count          4988.000000  4948.000000  4927.000000    4947.000000
mean             69.736646    70.267890     1.679409     224.918745
std              15.103248    16.810708     0.099079     105.367408
min              15.930000    18.900000     1.300000      50.000000
25%              59.687500    59.800000     1.610000     137.000000
50%              69.785000    69.750000     1.680000     223.000000
75%              79.885000    80.000000     1.750000     312.000000
max             120.910000   191.256696     2.020000    1129.171756

               HDL          LDL  Hemoglobina  Temperatura_Corporal  \
count  4914.000000  4922.000000  4932.000000           4928.000000
mean     49.496133   149.196871    13.480584             36.501006
std      17.344479    57.615347     1.508129              0.505575
min      20.000000    50.000000     8.220000             34.540000
25%      34.000000    99.000000    12.450000             36.160000
50%      50.000000   148.000000    13.510000             36.510000
75%      65.000000   198.000000    14.510000             36.830000
max      79.000000   249.000000    18.890000             38.390000

       Oxigeno_Sangre
count     4928.000000
mean        96.984963
std          2.033475
min         90.000000
25%         95.600000
50%         97.000000
75%         98.400000
max        103.700000

[8 rows x 22 columns]

# Datos *Nulos*

In [316]:
# Contar valores nulos por columna
valores_nulos = dataset.isnull().sum()
porcentaje_nulos = (valores_nulos / len(dataset)) * 100

In [317]:
print("\n VALORES NULOS POR COLUMNA:")
resumen_nulos = pd.DataFrame({
    'Valores Nulos': valores_nulos,
    'Porcentaje': porcentaje_nulos
})
print(resumen_nulos[resumen_nulos['Valores Nulos'] > 0])

 VALORES NULOS POR COLUMNA:
                      Valores Nulos  Porcentaje
Edad                            263    5.057692
Sexo                            263    5.057692
IMC                             252    4.846154
Presion_Sistolica               292    5.615385
Presion_Diastolica              249    4.788462
Colesterol_Total                244    4.692308
Glucosa                         254    4.884615
Frecuencia_Cardiaca             240    4.615385
Actividad_Fisica                252    4.846154
Consumo_Alcohol                 288    5.538462
Fumador                         291    5.596154
Diabetes                        262    5.038462
Enfermedad_Cardiaca             256    4.923077
Medicamentos                    254    4.884615
Duracion_SueÃ±o                 216    4.153846
Nivel_Estres                    273    5.250000
Indice_Salud_Mental             212    4.076923
Peso                            252    4.846154
Altura                          273    5.250000
Trigliceridos                   253    4.865385
HDL                             286    5.500000
LDL                             278    5.346154
Hemoglobina                     268    5.153846
Temperatura_Corporal            272    5.230769
Oxigeno_Sangre                  272    5.230769
Dolor_Pecho                     282    5.423077
Nauseas                         252    4.846154

In [318]:
# Visualizar valores nulos en gráfico
if valores_nulos.sum() > 0:
    plt.figure(figsize=(12, 6))
    valores_nulos_sorted = valores_nulos[valores_nulos > 0].sort_values(ascending=False)
    plt.bar(range(len(valores_nulos_sorted)), valores_nulos_sorted.values, color='coral')
    plt.xticks(range(len(valores_nulos_sorted)), valores_nulos_sorted.index, rotation=45, ha='right')
    plt.ylabel('Cantidad de valores nulos')
    plt.title('Distribución de Valores Nulos por Variable')
    plt.tight_layout()
    plt.savefig('1_valores_nulos.png', dpi=300, bbox_inches='tight')
    plt.close()
    print("perfecto quedo guardado")

perfecto quedo guardado

In [319]:
# Separar variables por tipo
numeric_cols = dataset.select_dtypes(include=[np.number]).columns.tolist()
categorical_cols = dataset.select_dtypes(include=['object']).columns.tolist()

In [320]:
print(f"\n TIPOS DE VARIABLES:")
print(f"  Numéricas ({len(numeric_cols)}): \n {numeric_cols}")
print(f"  Categóricas ({len(categorical_cols)}): \n {categorical_cols}")

 TIPOS DE VARIABLES:
  Numéricas (22):
 ['ID_Paciente', 'Edad', 'IMC', 'Presion_Sistolica', 'Presion_Diastolica', 'Colesterol_Total', 'Glucosa', 'Frecuencia_Cardiaca', 'Actividad_Fisica', 'Consumo_Alcohol', 'Medicamentos', 'Duracion_SueÃ±o', 'Nivel_Estres', 'Indice_Salud_Mental', 'Peso', 'Altura', 'Trigliceridos', 'HDL', 'LDL', 'Hemoglobina', 'Temperatura_Corporal', 'Oxigeno_Sangre']
  Categóricas (6):
 ['Sexo', 'Fumador', 'Diabetes', 'Enfermedad_Cardiaca', 'Dolor_Pecho', 'Nauseas']

In [321]:
# 1. Reemplazar strings 'None' o 'NaN' textuales por nulos reales de numpy
df = dataset.replace(['None', 'none', 'NaN', 'nan'], np.nan)

In [322]:
# Para categóricas: Usamos la MODA (Valor más frecuente)
for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        moda = df[col].mode()[0]
        df[col] = df[col].fillna(moda)
        print(f"  Nulos en '{col}' moda: {moda}")

  Nulos en 'Sexo' moda: F
  Nulos en 'Fumador' moda: Si
  Nulos en 'Diabetes' moda: Si
  Nulos en 'Enfermedad_Cardiaca' moda: Si
  Nulos en 'Dolor_Pecho' moda: No
  Nulos en 'Nauseas' moda: Si

In [323]:
# 3. Llenar valores nulos (Imputación)
# Para numéricas: Usamos la MEDIA (Promedio)
for col in numeric_cols:
    if df[col].isnull().sum() > 0:
        media = df[col].astype(float).mean()
        df[col] = df[col].fillna(media)
        print(f" Nulos en '{col}'  media: {media:.2f}")

 Nulos en 'Edad'  media: 53.28
 Nulos en 'IMC'  media: 24.95
 Nulos en 'Presion_Sistolica'  media: 134.88
 Nulos en 'Presion_Diastolica'  media: 89.39
 Nulos en 'Colesterol_Total'  media: 201.06
 Nulos en 'Glucosa'  media: 159.88
 Nulos en 'Frecuencia_Cardiaca'  media: 84.87
 Nulos en 'Actividad_Fisica'  media: 4.62
 Nulos en 'Consumo_Alcohol'  media: 2.01
 Nulos en 'Medicamentos'  media: 3.47
 Nulos en 'Duracion_SueÃ±o'  media: 7.04
 Nulos en 'Nivel_Estres'  media: 5.08
 Nulos en 'Indice_Salud_Mental'  media: 69.74
 Nulos en 'Peso'  media: 70.27
 Nulos en 'Altura'  media: 1.68
 Nulos en 'Trigliceridos'  media: 224.92
 Nulos en 'HDL'  media: 49.50
 Nulos en 'LDL'  media: 149.20
 Nulos en 'Hemoglobina'  media: 13.48
 Nulos en 'Temperatura_Corporal'  media: 36.50
 Nulos en 'Oxigeno_Sangre'  media: 96.98

# Variables Dependiente e Independientes

In [324]:
# Buscar automáticamente la variable objetivo
posibles_targets = ['enfermedad_cardiaca', 'diagnostico', 'resultado', 'target',
                    'clase', 'enfermedad', 'disease', 'diagnosis', 'outcome']
target_col = None

for col in posibles_targets:
    if col in dataset.columns:
        target_col = col
        break

if target_col is None:
    target_col = dataset.columns[-1]
    print(f"Usando última columna como objetivo: '{target_col}'")

Usando última columna como objetivo: 'Nauseas'

In [325]:
print(f"\n VARIABLE DEPENDIENTE (Y): {target_col}")
print(f"   Es lo que queremos PREDECIR")
print(f"\n   Distribución:")
print(df[target_col].value_counts())

 VARIABLE DEPENDIENTE (Y): Nauseas
   Es lo que queremos PREDECIR

   Distribución:
Nauseas
Si    2782
No    2418
Name: count, dtype: int64

In [326]:
# Variables independientes (todas menos la dependiente)
feature_cols = [col for col in dataset.columns if col != target_col]
print(f"\nVARIABLES INDEPENDIENTES (X): {len(feature_cols)} variables")
print(f"   Son las que usamos para PREDECIR")
for i, col in enumerate(feature_cols, 1):
    print(f"     {i}. {col} (tipo: {dataset[col].dtype})")

VARIABLES INDEPENDIENTES (X): 27 variables
   Son las que usamos para PREDECIR
     1. ID_Paciente (tipo: int64)
     2. Edad (tipo: float64)
     3. Sexo (tipo: object)
     4. IMC (tipo: float64)
     5. Presion_Sistolica (tipo: float64)
     6. Presion_Diastolica (tipo: float64)
     7. Colesterol_Total (tipo: float64)
     8. Glucosa (tipo: float64)
     9. Frecuencia_Cardiaca (tipo: float64)
     10. Actividad_Fisica (tipo: float64)
     11. Consumo_Alcohol (tipo: float64)
     12. Fumador (tipo: object)
     13. Diabetes (tipo: object)
     14. Enfermedad_Cardiaca (tipo: object)
     15. Medicamentos (tipo: float64)
     16. Duracion_SueÃ±o (tipo: float64)
     17. Nivel_Estres (tipo: float64)
     18. Indice_Salud_Mental (tipo: float64)
     19. Peso (tipo: float64)
     20. Altura (tipo: float64)
     21. Trigliceridos (tipo: float64)
     22. HDL (tipo: float64)
     23. LDL (tipo: float64)
     24. Hemoglobina (tipo: float64)
     25. Temperatura_Corporal (tipo: float64)
     26. Oxigeno_Sangre (tipo: float64)
     27. Dolor_Pecho (tipo: object)

# One-Hot

In [327]:
df_encoded = df.copy()
categorical_features = [col for col in categorical_cols if col != target_col]

print(f"\nVARIABLES A CODIFICAR: {categorical_features}")
print(f"\n¿QUÉ HACE ONE-HOT ENCODING?")
print(f"   Convierte categorías de texto en columnas numéricas (0 y 1)")
print(f"   Ejemplo: 'fumador' (Sí/No) → 'fumador_Sí' (1=sí, 0=no)")

VARIABLES A CODIFICAR: ['Sexo', 'Fumador', 'Diabetes', 'Enfermedad_Cardiaca', 'Dolor_Pecho']

¿QUÉ HACE ONE-HOT ENCODING?
   Convierte categorías de texto en columnas numéricas (0 y 1)
   Ejemplo: 'fumador' (Sí/No) → 'fumador_Sí' (1=sí, 0=no)

In [328]:
if len(categorical_features) > 0:
    print(f"\n🔧 APLICANDO ONE-HOT ENCODING...")
    print(f"   drop_first=True: Elimina una categoría para evitar redundancia")

    df_encoded = pd.get_dummies(df_encoded, columns=categorical_features, drop_first=True)

    print(f"\n✓ RESULTADO:")
    print(f"   Dimensiones ANTES: {df.shape[1]} columnas")
    print(f"   Dimensiones DESPUÉS: {df_encoded.shape[1]} columnas")

    nuevas_columnas = [col for col in df_encoded.columns if col not in df.columns]
    if nuevas_columnas:
        print(f"\n   Nuevas columnas creadas ({len(nuevas_columnas)}):")
        for col in nuevas_columnas[:10]:  # Mostrar solo las primeras 10
            print(f"     - {col}")
        if len(nuevas_columnas) > 10:
            print(f"     ... y {len(nuevas_columnas)-10} más")

🔧 APLICANDO ONE-HOT ENCODING...
   drop_first=True: Elimina una categoría para evitar redundancia

✓ RESULTADO:
   Dimensiones ANTES: 28 columnas
   Dimensiones DESPUÉS: 28 columnas

   Nuevas columnas creadas (5):
     - Sexo_M
     - Fumador_Si
     - Diabetes_Si
     - Enfermedad_Cardiaca_Si
     - Dolor_Pecho_Si

# Correlacion

In [329]:
print("   Mide qué tan relacionadas están dos variables")
print("   Valores: -1 (relación inversa) a +1 (relación directa)")
print("   0 = sin relación")

   Mide qué tan relacionadas están dos variables
   Valores: -1 (relación inversa) a +1 (relación directa)
   0 = sin relación

In [330]:
# Antes de calcular la matriz de correlación, asegúrate de que la variable objetivo también sea numérica.
# Convertir 'Nauseas' (Si/No) a 1/0
df_encoded[target_col] = df_encoded[target_col].map({'Si': 1, 'No': 0})

# Calcular matriz de correlación
correlation_matrix = df_encoded.corr()

In [331]:
# Correlaciones con la variable objetivo
if target_col in correlation_matrix.columns:
    target_correlation = correlation_matrix[target_col].sort_values(ascending=False)

    print(f"\n📊 CORRELACIÓN CON '{target_col}':")
    print("   (Variables ordenadas por importancia)\n")
    for var, corr in target_correlation.items():
        if var != target_col:
            if abs(corr) > 0.5:
                fuerza = "MUY FUERTE"
            elif abs(corr) > 0.3:
                fuerza = "FUERTE"
            elif abs(corr) > 0.1:
                fuerza = "MODERADA"
            else:
                fuerza = "DÉBIL"

            direccion = "positiva" if corr > 0 else "negativa"
            print(f"   {var}: {corr:.3f} ({fuerza} {direccion})")

📊 CORRELACIÓN CON 'Nauseas':
   (Variables ordenadas por importancia)

   Sexo_M: 0.022 (DÉBIL positiva)
   Presion_Diastolica: 0.020 (DÉBIL positiva)
   Indice_Salud_Mental: 0.019 (DÉBIL positiva)
   Diabetes_Si: 0.018 (DÉBIL positiva)
   Glucosa: 0.012 (DÉBIL positiva)
   Medicamentos: 0.007 (DÉBIL positiva)
   Oxigeno_Sangre: 0.007 (DÉBIL positiva)
   Peso: 0.006 (DÉBIL positiva)
   Edad: 0.005 (DÉBIL positiva)
   HDL: 0.004 (DÉBIL positiva)
   Frecuencia_Cardiaca: 0.002 (DÉBIL positiva)
   Enfermedad_Cardiaca_Si: 0.002 (DÉBIL positiva)
   Hemoglobina: 0.001 (DÉBIL positiva)
   Trigliceridos: 0.001 (DÉBIL positiva)
   Altura: -0.000 (DÉBIL negativa)
   Temperatura_Corporal: -0.001 (DÉBIL negativa)
   Dolor_Pecho_Si: -0.002 (DÉBIL negativa)
   Presion_Sistolica: -0.009 (DÉBIL negativa)
   Actividad_Fisica: -0.010 (DÉBIL negativa)
   Consumo_Alcohol: -0.011 (DÉBIL negativa)
   IMC: -0.015 (DÉBIL negativa)
   LDL: -0.018 (DÉBIL negativa)
   Colesterol_Total: -0.019 (DÉBIL negativa)
   Fumador_Si: -0.019 (DÉBIL negativa)
   Duracion_SueÃ±o: -0.020 (DÉBIL negativa)
   ID_Paciente: -0.021 (DÉBIL negativa)
   Nivel_Estres: -0.022 (DÉBIL negativa)

In [332]:
    # Gráfico de barras de correlaciones
    plt.figure(figsize=(10, max(8, len(target_correlation)*0.4)))
    target_corr_filtered = target_correlation[target_correlation.index != target_col]
    colors = ['green' if x > 0 else 'red' for x in target_corr_filtered.values]
    plt.barh(range(len(target_corr_filtered)), target_corr_filtered.values, color=colors, alpha=0.7)
    plt.yticks(range(len(target_corr_filtered)), target_corr_filtered.index, fontsize=8)
    plt.xlabel('Correlación', fontsize=12)
    plt.title(f'Correlación de Variables con {target_col}\n(Verde=positiva, Rojo=negativa)', fontsize=14)
    plt.axvline(x=0, color='black', linestyle='-', linewidth=1)
    plt.tight_layout()
    plt.savefig('2_correlacion_target.png', dpi=300, bbox_inches='tight')
    plt.close()
    print("\n✓ Gráfico guardado: '2_correlacion_target.png'")

✓ Gráfico guardado: '2_correlacion_target.png'

In [333]:
# Mapa de calor de todas las correlaciones
fig_size = max(12, len(correlation_matrix.columns) * 0.5)
plt.figure(figsize=(fig_size, fig_size))
sns.heatmap(correlation_matrix, annot=False, cmap='coolwarm',
            center=0, square=True, linewidths=0.5, cbar_kws={"shrink": 0.8})
plt.title('Matriz de Correlación - Todas las Variables', fontsize=16)
plt.tight_layout()
plt.savefig('3_matriz_correlacion.png', dpi=300, bbox_inches='tight')
plt.close()
print("✓ Matriz de correlación guardada: '3_matriz_correlacion.png'")

✓ Matriz de correlación guardada: '3_matriz_correlacion.png'

# Outliers

In [334]:
print("\nMÉTODO: IQR (Rango Intercuartílico)")
print("   1. Calculamos Q1 (25%) y Q3 (75%)")
print("   2. IQR = Q3 - Q1")
print("   3. Límites: [Q1 - 1.5×IQR, Q3 + 1.5×IQR]")
print("   4. Eliminamos valores fuera de límites")

MÉTODO: IQR (Rango Intercuartílico)
   1. Calculamos Q1 (25%) y Q3 (75%)
   2. IQR = Q3 - Q1
   3. Límites: [Q1 - 1.5×IQR, Q3 + 1.5×IQR]
   4. Eliminamos valores fuera de límites

In [335]:
# Identificar columnas numéricas
numeric_features = df_encoded.select_dtypes(include=[np.number]).columns.tolist()
if target_col in numeric_features:
    numeric_features.remove(target_col)

print(f"\n📊 Analizando {len(numeric_features)} variables numéricas")

📊 Analizando 22 variables numéricas

In [336]:
# BOXPLOTS ANTES DE ELIMINAR OUTLIERS
n_vars = len(numeric_features)
if n_vars > 0:
    n_cols = 3
    n_rows = (n_vars + n_cols - 1) // n_cols

    fig, axes = plt.subplots(n_rows, n_cols, figsize=(15, 4*n_rows))
    if n_vars == 1:
        axes = [axes]
    else:
        axes = axes.flatten()

    for idx, col in enumerate(numeric_features):
        axes[idx].boxplot(df_encoded[col].dropna(), vert=True)
        axes[idx].set_title(f'{col}', fontsize=9)
        axes[idx].set_ylabel('Valor')
        axes[idx].grid(True, alpha=0.3)

    for idx in range(n_vars, len(axes)):
        axes[idx].axis('off')

    plt.suptitle('BOXPLOTS ANTES DE ELIMINAR OUTLIERS', fontsize=16, y=1.00)
    plt.tight_layout()
    plt.savefig('4_boxplots_antes.png', dpi=300, bbox_inches='tight')
    plt.close()
    print("\n✓ Boxplots ANTES guardados: '4_boxplots_antes.png'")

✓ Boxplots ANTES guardados: '4_boxplots_antes.png'

In [337]:
# DETECTAR OUTLIERS CON MÉTODO IQR
print("\n🔍 DETECTANDO OUTLIERS...")
df_sin_outliers = df_encoded.copy()
outliers_info = []

for col in numeric_features:
    Q1 = df_sin_outliers[col].quantile(0.25)
    Q3 = df_sin_outliers[col].quantile(0.75)
    IQR = Q3 - Q1

    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    outliers_count = ((df_sin_outliers[col] < limite_inferior) |
                      (df_sin_outliers[col] > limite_superior)).sum()

    if outliers_count > 0:
        outliers_info.append({
            'Variable': col,
            'Outliers': outliers_count,
            'Q1': Q1,
            'Q3': Q3,
            'IQR': IQR,
            'Lím_Inf': limite_inferior,
            'Lím_Sup': limite_superior
        })

if outliers_info:
    print("\n📊 OUTLIERS DETECTADOS:")
    for info in outliers_info:
        print(f"\n   {info['Variable']}:")
        print(f"     - Outliers encontrados: {info['Outliers']}")
        print(f"     - Q1 (25%): {info['Q1']:.2f}")
        print(f"     - Q3 (75%): {info['Q3']:.2f}")
        print(f"     - IQR: {info['IQR']:.2f}")
        print(f"     - Límites válidos: [{info['Lím_Inf']:.2f}, {info['Lím_Sup']:.2f}]")

🔍 DETECTANDO OUTLIERS...

📊 OUTLIERS DETECTADOS:

   IMC:
     - Outliers encontrados: 58
     - Q1 (25%): 21.63
     - Q3 (75%): 28.14
     - IQR: 6.51
     - Límites válidos: [11.86, 37.91]

   Presion_Sistolica:
     - Outliers encontrados: 5
     - Q1 (25%): 113.00
     - Q3 (75%): 156.00
     - IQR: 43.00
     - Límites válidos: [48.50, 220.50]

   Colesterol_Total:
     - Outliers encontrados: 18
     - Q1 (25%): 152.75
     - Q3 (75%): 246.00
     - IQR: 93.25
     - Límites válidos: [12.88, 385.88]

   Duracion_SueÃ±o:
     - Outliers encontrados: 70
     - Q1 (25%): 6.09
     - Q3 (75%): 7.98
     - IQR: 1.89
     - Límites válidos: [3.25, 10.82]

   Indice_Salud_Mental:
     - Outliers encontrados: 45
     - Q1 (25%): 60.11
     - Q3 (75%): 79.32
     - IQR: 19.21
     - Límites válidos: [31.29, 108.14]

   Peso:
     - Outliers encontrados: 87
     - Q1 (25%): 60.50
     - Q3 (75%): 79.40
     - IQR: 18.90
     - Límites válidos: [32.15, 107.75]

   Altura:
     - Outliers encontrados: 78
     - Q1 (25%): 1.62
     - Q3 (75%): 1.74
     - IQR: 0.12
     - Límites válidos: [1.44, 1.92]

   Trigliceridos:
     - Outliers encontrados: 6
     - Q1 (25%): 141.00
     - Q3 (75%): 307.00
     - IQR: 166.00
     - Límites válidos: [-108.00, 556.00]

   Hemoglobina:
     - Outliers encontrados: 47
     - Q1 (25%): 12.52
     - Q3 (75%): 14.45
     - IQR: 1.93
     - Límites válidos: [9.62, 17.34]

   Temperatura_Corporal:
     - Outliers encontrados: 54
     - Q1 (25%): 36.18
     - Q3 (75%): 36.82
     - IQR: 0.64
     - Límites válidos: [35.22, 37.78]

   Oxigeno_Sangre:
     - Outliers encontrados: 48
     - Q1 (25%): 95.70
     - Q3 (75%): 98.30
     - IQR: 2.60
     - Límites válidos: [91.80, 102.20]

In [338]:
# ELIMINAR FILAS CON OUTLIERS
print("\n🗑️  ELIMINANDO FILAS CON OUTLIERS...")
filas_antes = len(df_sin_outliers)

for col in numeric_features:
    Q1 = df_sin_outliers[col].quantile(0.25)
    Q3 = df_sin_outliers[col].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    df_sin_outliers = df_sin_outliers[
        (df_sin_outliers[col] >= limite_inferior) &
        (df_sin_outliers[col] <= limite_superior)
    ]

filas_despues = len(df_sin_outliers)
filas_eliminadas = filas_antes - filas_despues

print(f"\n✓ RESULTADO:")
print(f"   Filas ANTES: {filas_antes}")
print(f"   Filas DESPUÉS: {filas_despues}")
print(f"   Filas ELIMINADAS: {filas_eliminadas} ({(filas_eliminadas/filas_antes)*100:.2f}%)")

🗑️  ELIMINANDO FILAS CON OUTLIERS...

✓ RESULTADO:
   Filas ANTES: 5200
   Filas DESPUÉS: 4701
   Filas ELIMINADAS: 499 (9.60%)

In [339]:
# BOXPLOTS DESPUÉS DE ELIMINAR OUTLIERS
if n_vars > 0:
    fig, axes = plt.subplots(n_rows, n_cols, figsize=(15, 4*n_rows))
    if n_vars == 1:
        axes = [axes]
    else:
        axes = axes.flatten()

    for idx, col in enumerate(numeric_features):
        axes[idx].boxplot(df_sin_outliers[col].dropna(), vert=True)
        axes[idx].set_title(f'{col}', fontsize=9)
        axes[idx].set_ylabel('Valor')
        axes[idx].grid(True, alpha=0.3)

    for idx in range(n_vars, len(axes)):
        axes[idx].axis('off')

    plt.suptitle('BOXPLOTS DESPUÉS DE ELIMINAR OUTLIERS', fontsize=16, y=1.00)
    plt.tight_layout()
    plt.savefig('5_boxplots_despues.png', dpi=300, bbox_inches='tight')
    plt.close()
    print(" Boxplots DESPUÉS guardados: '5_boxplots_despues.png'")

 Boxplots DESPUÉS guardados: '5_boxplots_despues.png'

# OLS y P-Valor

In [340]:
print("   Probabilidad de que una variable NO tenga efecto real")
print("   p < 0.05 → Variable SIGNIFICATIVA (la mantenemos)")
print("   p > 0.05 → Variable NO significativa (la eliminamos)")

   Probabilidad de que una variable NO tenga efecto real
   p < 0.05 → Variable SIGNIFICATIVA (la mantenemos)
   p > 0.05 → Variable NO significativa (la eliminamos)

In [341]:
# Preparar datos
X = df_sin_outliers.drop(columns=[target_col])
y = df_sin_outliers[target_col]
X_with_const = sm.add_constant(X)

In [342]:
# Ajustar modelo OLS
print("\n🔧 AJUSTANDO MODELO OLS...")
try:
    modelo_ols = sm.OLS(y, X_with_const).fit()
    print("✓ Modelo ajustado exitosamente")

SyntaxError: incomplete input (ipython-input-814198352.py, line 5)

In [ ]:
 # Guardar resumen completo
    with open('6_resumen_ols.txt', 'w', encoding='utf-8') as f:
        f.write(str(modelo_ols.summary()))
    print("✓ Resumen completo guardado: '6_resumen_ols.txt'")

In [ ]:
# Extraer p-valores
    p_values = modelo_ols.pvalues.drop('const')
    p_values_sorted = p_values.sort_values()

    print("\n📊 P-VALORES DE VARIABLES (ordenados):")
    print("   *** p<0.001  ** p<0.01  * p<0.05\n")
    for var, p_val in p_values_sorted.items():
        if p_val < 0.001:
            sig = "***"
        elif p_val < 0.01:
            sig = "**"
        elif p_val < 0.05:
            sig = "*"
        else:
            sig = ""

        estado = "SIGNIFICATIVA" if p_val < 0.05 else "no significativa"
        print(f"   {var}: p={p_val:.6f} {sig} → {estado}")

In [ ]:
# Seleccionar variables significativas
    alpha = 0.05
    variables_significativas = p_values[p_values < alpha].index.tolist()

    print(f"\n🎯 VARIABLES SELECCIONADAS (p < {alpha}):")
    if len(variables_significativas) > 0:
        for i, var in enumerate(variables_significativas, 1):
            print(f"   {i}. {var} (p={p_values[var]:.6f})")
        print(f"\n   Total: {len(variables_significativas)} de {len(p_values)} variables")
    else:
        print("   ⚠️  Ninguna variable con p<0.05, usando p<0.1")
        alpha = 0.1
        variables_significativas = p_values[p_values < alpha].index.tolist()
        for i, var in enumerate(variables_significativas, 1):
            print(f"   {i}. {var} (p={p_values[var]:.6f})")

In [ ]:
 # Gráfico de p-valores
    plt.figure(figsize=(12, max(8, len(p_values_sorted)*0.4)))
    colors = ['darkgreen' if p < 0.001 else 'green' if p < 0.01 else
              'lightgreen' if p < 0.05 else 'orange' if p < 0.1 else 'red'
              for p in p_values_sorted.values]
    plt.barh(range(len(p_values_sorted)), p_values_sorted.values, color=colors, alpha=0.7)
    plt.yticks(range(len(p_values_sorted)), p_values_sorted.index, fontsize=8)
    plt.xlabel('P-valor', fontsize=12)
    plt.title('P-valores de Variables\n(Verde oscuro<0.001, Verde<0.01, Verde claro<0.05, Naranja<0.1, Rojo>0.1)',
              fontsize=14)
    plt.axvline(x=0.05, color='red', linestyle='--', linewidth=2, label='α=0.05 (criterio)')
    plt.axvline(x=0.01, color='green', linestyle='--', linewidth=1.5)
    plt.axvline(x=0.001, color='darkgreen', linestyle='--', linewidth=1.5)
    plt.legend()
    plt.tight_layout()
    plt.savefig('7_p_valores.png', dpi=300, bbox_inches='tight')
    plt.close()
    print("\n✓ Gráfico de p-valores guardado: '7_p_valores.png'")

except Exception as e:
    print(f"⚠️  Error en OLS: {e}")
    variables_significativas = X.columns.tolist()